@model WatchShop.Models.Brand

@{
    ViewBag.Title = "DeleteBrand";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@*Brand*@
<div class="col-md-4" style="margin-left:30%;">
    <div class="card">
        <div class="card-body">
            <p class="card-text">
                <strong>Name:</strong>
                @Html.DisplayFor(model => model.name)
            </p>
        </div>

        <div class="container"><p class="text-danger">Are you sure you want to delete this brand?</p></div>
        <br />
        <div class="two-btn">

            <input type="submit" value="Delete" class="btn btn-danger" style="margin-left:10%; border-radius:5px;" />
            <button type="button" class="btn btn-primary" style="margin-left:10%; border-radius:5px;">@Html.ActionLink("Back to List", "Index", "Brand")</button>
        </div>
    </div>
</div>